// config-colors.scss      ~/styles/
/////////////////////////////////////////////////////////////////////

$black: #000000;
$mine: #333;
$bleu: #3498db;
$cloud: #374054;
$steel: #666666;
$raven: #74808a;
$alto: #dcd9d9;
$mercury :#e6e6e6;
$flash: #f2f2f5;
$white: #ffffff;

